*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#f5f7fa;
    color:#222;
}

header{
    background:white;
    padding:20px;

    display:flex;
    align-items:center;
    justify-content:center;
    gap:20px;

    box-shadow:0 2px 8px rgba(0,0,0,.08);
}

.logo img{

    width:75px;
    height:auto;

    transition:.2s;
}

.logo img:hover{

    transform:scale(1.05);

}


.hero{

    min-height:80vh;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;

    padding:30px;

}


button{

    width:100%;

    max-width:420px;

    padding:18px;

    font-size:1.15rem;

    border:none;

    border-radius:12px;

    background:#0074c9;
    color:white;

}



.cards{

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

    gap:20px;

    padding:25px;

}


.card {

background:white;

padding:25px;

border-radius:15px;

flex:1;

box-shadow:0 3px 10px #ddd;

}



.steps {

background:white;

padding:30px;

margin:30px;

border-radius:15px;

}

.scan-animation{

    min-height:100vh;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;

    padding:20px;

    background:white;

}
.scan-animation h2{
    font-size:2rem;
}

.scan-animation p{
    font-size:1.2rem;
}


.loader{

    width:180px;
    height:180px;

    border-radius:50%;

    border:12px solid #e5e5e5;
    border-top:12px solid #0099ff;

    animation:spin 1s linear infinite;

    margin:50px 0;

}


@keyframes spin {

100% {
transform:rotate(360deg);
}

}



.profile{

    min-height:100vh;

    background:white;

    padding:25px;

}

.profile h2{

    margin-bottom:15px;

}

.profile p{

    margin-bottom:12px;

}


.hidden {

display:none;

}

.support{

    background:#eef6ff;

    border-left:6px solid #0074c9;

    padding:20px;

    margin:20px 0;

    border-radius:12px;

}

footer {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 30px 20px;
    text-align: center;
}

footer a {
    color: #0066b3;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;

    transition: color 0.2s ease;
}

footer a:hover {
    color: #004b82;
    text-decoration: underline;
}


@media (max-width:768px){

    header{

        flex-direction:column;

        text-align:center;

    }

    h1{

        font-size:2rem;

    }

    h2{

        font-size:1.5rem;

    }

    p{

        font-size:1rem;

        line-height:1.6;

    }

    .cards{

        grid-template-columns:1fr;

        padding:20px;

    }

    .steps{

        margin:20px;

    }

    .loader{

        width:150px;
        height:150px;

    }

    button{

        max-width:none;

    }

}